@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family : 'Roboto',san-serif !important;
    font-size :15px;
    line-height : 2em;
    color : #333;
    font-weight :400;
    background : #fff;
}


.columns-block{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-col-block{
    width : 50%;
    text-align: center;
    overflow : hidden;
    position : fixed;
    left : 0;
}


.right-col-block{
    width : 50%;
    position : absolute;
    right : 0;
}

.section-wrapper{
    padding : 50px;
}

.section-title{
    margin-bottom : 15px;
}

.section-title h2 {
    color : #444;
}

.grey-background {
    background : #F9F9F9;
}

.header{
    padding : 0;
    margin : 0;
    height : 100vh;
    vertical-align : middle;
    position : relative;
}
h1,h2,h3,h4,h5,h6 {
margin : 0 0 15px;
color : #0a0266 ;
}

h1 {
    font-size : 25px !important;
    


}

h2 {
    font-size : 20px !important ;
    line-height : 1.5em !important;
    font-weight : 700 !important;
}

h3 {
    font-size : 18px !important ;
    line-height : 1.5em !important;
    font-weight : 500 !important;
}

h4 {
    font-size : 16px !important;
    line-height : 1.5em !important;
    font-weight : 700 !important;
}


h5 {
    font-size : 20px !important ;
    line-height : 1.5em !important;
    font-weight : 700 !important;
}

a {
    color : #2325ad ;
}


p {
    margin-bottom : 20px !important;

}

ul {
    margin : 0;
    padding : 0;
    list-style : none;
}


.btn {
    padding : 15px;
    font-size : 15px;
    font-weight : bold;
    border-radius : 0;
    border : 0;
    text-transform : uppercase;
}


@media (max-width : 600px){
    .left-col-block{
        width : 100%;
        position : relative;
    }
    .right-col-block {
        width : 100%;
        position : relative;
    }
}
.header .profile-image{
    position : absolute;
    left : 0;
    top : 0;
    z-index : -1;
    width : 100%;
    height : 100%;
    background-image: url(../portfolio.js/img/dp.img.jpg);
    background-size : cover;
    background-position: top center;
}

.header .profile-image :before{
    content : "";
    position : absolute;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    background: linear-gradient(rgb(59, 79, 87))!important;
}

.header .content{
    position : absolute;
    left : 0;
    right : 0;
    bottom : 0;
    width : 100%;
    margin : 0 auto;
    padding : 10%;

}

.header .content h1 {
  font-size : 40px;
  color : red;
  line-height : 1;
  margin : 0;
}

.header .content p {
    font-size : 20px;
    color : rgb(146, 29, 18);
}

.header .content .social-icon {
    margin : 0;
    padding : 0;
    display : block ; 
}
.header .content .social-icon li {
    display : inline-block ;
    margin : 0 2px;
}

.header .content .social-icon li a {
    display : block ;
    font-size : 15px ;
    color : greenyellow;
    height : 35px;
    width : 35px ;
    line-height : 32px;
    text-align : center ;
    border-radius : 100%;
    border: 2px solid #555 ;
}

.header .content .social-icon li a:hover {
    border-color : #fff;
}

.expertise-item{
    margin-bottom : 20px;
}
.expertise-item h3 {
    margin-bottom : 5px;
    color : #333;
    font-weight : 700;
    
}